image: docker:latest
services:
  - docker:18.09-dind
  
stages:
  - build
  - deploy

variables:
  CONTAINER_IMAGE: undrey/frontend:${CI_COMMIT_SHORT_SHA}
  DOCKER_HOST: tcp://localhost:2375
  DOCKER_TLS_CERTDIR: ""
build:
  stage: build
  script:
    - cd ./frontend
    - docker login -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}
    - docker build -t ${CONTAINER_IMAGE} .
    - docker tag ${CONTAINER_IMAGE} ${CONTAINER_IMAGE}
    - docker tag ${CONTAINER_IMAGE} undrey/frontend:latest
    - docker push ${CONTAINER_IMAGE}

deploy:
  stage: deploy
  script:
    - kubectl config set-cluster k8s --server="${SERVER}"
    - kubectl config set clusters.k8s.certificate-authority-data ${CERTIFICATE_AUTHORITY_DATA}
    - kubectl config set-credentials gitlab --token="${USER_TOKEN}"
    - kubectl config set-context default --cluster=k8s --user=gitlab
    - kubectl config use-context default
    - sed -i "s/<VERSION>/${CI_COMMIT_SHORT_SHA}/g" deploy.yaml
    - kubectl apply -f deploy.yaml
