image: docker:latest
services:
  - docker:18.09-dind
  
stages:
  - build
  - deploy

variables:
  DOCKER_HOST: tcp://localhost:2375
  DOCKER_TLS_CERTDIR: ""

frontend-build:
  stage: build
  script:
    - cd ./frontend
    - docker login -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}
    - docker build -t frontend . --build-arg DB_HOST=${RDS_HOST} --build-arg DB_NAME=${RDS_DB} --build-arg DB_USER=${RDS_USER} --build-arg DB_PASS=${RDS_PASS}
    - docker tag frontend undrey/frontend:0.1.1
    - docker tag frontend undrey/frontend:latest
    - docker tag frontend undrey/frontend:${CI_COMMIT_SHORT_SHA}
    - docker push undrey/frontend --all-tags

backend-build:
  stage: build
  script:
    - cd ./backend
    - docker login -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}
    - docker build -t backend . --build-arg DB_HOST=${RDS_HOST} --build-arg DB_NAME=${RDS_DB} --build-arg DB_USER=${RDS_USER} --build-arg DB_PASS=${RDS_PASS}
    - docker tag backend undrey/backend:0.1.1
    - docker tag backend undrey/backend:latest
    - docker tag backend undrey/backend:${CI_COMMIT_SHORT_SHA}
    - docker push undrey/backend --all-tags



deploy:
  stage: deploy
  environment:
    name: test
  image: dtzar/helm-kubectl
  script:
    - kubectl apply -f create_first.yaml -n default
    - kubectl apply -f create_second.yaml -n default
