<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename = 'styles.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Pink Floyd</title>
</head>
<body>
<div class="container-fluid">
    <main>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="{{url_for('static',filename = 'pf.png')}}" alt="" width="225"
                 height="225">
            <h2>Pink Floyd</h2>
            <p class="lead">BACKEND</p>

            <form class="card p-2" method="post" action="/">
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <div class="col d-flex align-items-start">
                        <div>
                            <h2>Check connection</h2>
                            <p>Check application connection to AWS RDS PostgreSQL database.</p>
                            <button type="submit" name="submit_a" value="submit_a" class="btn btn-primary">CHECK
                                DB
                            </button>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <div>
                            <h2>Upload data</h2>
                            <p>Retrieve a portion of data from iTunes API and upload it to a database.</p>
                            <button type="submit" name="submit_b" value="submit_b" class="btn btn-primary">GET
                                DATA
                            </button>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <div>
                            <h2>Erase data</h2>
                            <p>Erase all data from database.</p><br>
                            <button type="submit" name="submit_c" value="submit_c" class="btn btn-primary">ERASE
                                DATA
                            </button>

                        </div>
                    </div>
                </div>


                {{render_text}}
            </form>

        </div>

    </main>

</div>


</body>
</html>